/bootstrap/compiled.php
/vendor
storage/debugbar/
public/packages/barryvdh

*.sqlite
_ide_helper.php
_ide_helper_models.php
public/css/
public/javascript/vendors/

/node_modules
.sass-cache
.env
.rocketeer/logs
