body
{
	font-family:"lucida grande", tahoma, verdana, arial, sans-serif;
	font-size:12px;
	background:white;
	color:black;
	/*background:#BCBCBC;
	color:white;*/
}

table.table
{
	text-align: center;
	margin: auto;
	border: thin solid #000000;
}
table thead tr
{
	font-weight:bold;
	background:#A1A1A1;
	color:white;
}
.thead
{
	font-weight:bold;
	background:#A1A1A1;
	color:white;
}
.table > thead > tr > th
{
	border-bottom:thin solid black;
	min-width: 45px;
}
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting { background: url('/images/datatables/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('/images/datatables/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('/images/datatables/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('/images/datatables/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('/images/datatables/sort_desc_disabled.png') no-repeat center right; }
table.table thead th
{
	text-align: center;
}
table tr.odd td
{
	background:#D1D1D1;
}

.alert
{
	border: 1px solid #e7dc2b;
	background: #fff888;
}
.success
{
	border: 1px solid #669966;
	background: #88ff88;
}
.error
{
	border: 1px solid #ff0000;
	background: #ffaaaa;
	font-size:2em;
	width:15em;
}
#verify-form
{
	border: 1px solid #777777;
	background: #dddddd;
	margin-top: 1em;
	padding-bottom: 0em;
}
