body
{
	font-family:"lucida grande", tahoma, verdana, arial, sans-serif;
	font-size:12px;
	width: 98%;
	margin: auto;
	padding-top: 70px;
}

table.table
{
	text-align: center;
	margin: auto;
	border: thin solid #000000;
}
.thead
{
	font-weight:bold;
}
.table > thead > tr > th
{
	border-bottom:thin solid black;
	min-width: 45px;
}
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting { background: url('/images/datatables/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('/images/datatables/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('/images/datatables/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('/images/datatables/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('/images/datatables/sort_desc_disabled.png') no-repeat center right; }
table.table thead th
{
	text-align: center;
}

.alert
{
	border: 1px solid #e7dc2b;
	background: #fff888;
}
.success
{
	border: 1px solid #669966;
	background: #88ff88;
}
.error
{
	border: 1px solid #ff0000;
	background: #ffaaaa;
	font-size:2em;
	width:15em;
}
#verify-form
{
	border: 1px solid #777777;
	background: #dddddd;
	margin-top: 1em;
	padding-bottom: 0em;
}

.flex-container
{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;
}

.flex-item:nth-child(1)
{
	-webkit-order: 0;
	order: 0;
	flex: 1 1 60%;
	-webkit-flex: 1 1 60%;
	align-self: auto;
	padding: 0 10px;
}

.flex-item:nth-child(2)
{
	-webkit-order: 1;
	order: 1;
	flex: 1 1 40%;
	-webkit-flex: 1 1 40%;
	align-self: auto;
	padding: 0 10px;
}

@media all and (max-width: 1000px) {

	.flex-container {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
}

.scores_page, .teams_page
{
	width: 85%;
	margin: auto;
}

.scores_page .game
{
	border: 1px solid black;
	width: 300px;
	float: left;
	margin: 10px 20px;
	padding: 15px;
}

.scores_page div
{
	min-width: 40px;
	float: left;
	line-height: 50px;
}

.scores_page .team_name
{
	width: 100px;
}

.scores_page .game_header div
{
	font-size: 18px;
	line-height: 35px;
}

.teams_page .game
{
	border: 1px solid black;
	width: 47%;
	float: left;
	margin: 5px 12px;
	padding: 12px;
}

.teams_page .team_logo
{
	float:left;
	min-width: 150px;
	clear:left;
	text-align: center;
}

.teams_page .team_name
{
	float:left;
}

.teams_page .team_line
{
	line-height: 40px;
}

.player-form-input {
	width:155px
}
